<div class="justify-content-around">
  <div class="">
    <div class="card-header">
      Login
    </div>
    <div class="card-body">
      <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
        <div class="form-group row">
          <label for="email" class="col-md-4 col-form-label text-md-right">Email Address</label>
          <div class="col-md-6">
            <input class="form-control" formControlName="email" id="email" [ngClass]="{'is-invalid': submitted && (f.email?.errors || err_msg?.email)}">
            <small *ngIf="submitted && f.email?.errors?.required" class="invalid-feedback">
              Email address is required!
            </small>
            <small *ngIf="submitted && f.email?.errors?.email" class="invalid-feedback">
              Invalid email address!
            </small>
            <small *ngIf="submitted && err_msg?.email" class="invalid-feedback">
              {{err_msg?.email}}
            </small>
          </div>
        </div>
        <div class="form-group row">
          <label for="password" class="col-md-4 col-form-label text-md-right">Password</label>
          <div class="col-md-6">
            <input type="password" formControlName="password" class="form-control" id="password" [ngClass]="{'is-invalid': submitted && f.password?.errors}">
            <small *ngIf="submitted && f.password?.errors?.required" class="invalid-feedback">
              Password is required!
            </small>
            <small *ngIf="submitted && f.password?.errors?.minlength" class="invalid-feedback">
              Password must be min 8 character!
            </small>
          </div>
        </div>
        <div class="form-group row mb-0">
          <div class="col-md-8 offset-md-4">
            <button class="btn btn-outline-info">Login</button>
            <a routerLink="/forgot-password" class="btn btn-link" >
              Forgot Your Password?'
            </a>
            <a class="btn btn-link small text-md-right" routerLink="/register"><small>Create an account?</small></a>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
