header {
    height: 55px;
    background-color: #232c378a;
}

header nav {
    width: 100%;
}

header ul{
    float: right;
    display: inline-block;
    margin: 0;
    line-height: 3;
    margin-right: 10px;
}

header ul li{
    list-style-type: none;
    display: inline-block;
    margin-right: 15px;
}

header ul li a{
    color: #FFFFFF;
    text-decoration: none;
    transition: .5s;
}

header nav > a{
    font-size: 20px;
    font-weight: 900;
    margin-left: 15px;
    line-height: 2.4;
    color: #FFFFFF;
    text-decoration: none;
    transition: .5s;
}

header nav ul li a:hover, header nav > a:hover{
    color: #17a2b8;
}

.active{
    color: #17a2b8;
}