<header>
  <nav>
    <a routerLink="/" routerLinkActive="active">Weather</a>
    <ul>
      <li *ngIf="auth.authCheck"><a routerLink="/login" (click)="logout()">Logout</a></li>
      <li *ngIf="!auth.authCheck"><a routerLink="/login" routerLinkActive="active">Login</a></li>
      <li *ngIf="!auth.authCheck"><a routerLink="/register" routerLinkActive="active">Register</a></li>
    </ul>
  </nav>
</header>
