.weathers {
    margin: 20px 0 0;
    display: grid;
    grid-template-columns: auto auto auto auto auto auto auto auto;
    padding: 10px;
}

.weather_item:first-of-type {
    grid-column-start: 1;
    grid-column-end: 9;
    grid-row-start: 1;
    grid-row-end: 1;
}

.weather_item:first-of-type img{
    position: relative;
    bottom: 6px;
}

.weather_item {
    padding: 20px;
    font-size: 16px;
    transition: .5s;
}

.weather_item:not(:first-of-type):hover {
    border-radius: 3px;
    background: #9dc8f136;
    box-shadow: 1px 2px 26px 4px #aaaaaa;
    cursor: pointer;
}

.weather_item .temp{
    font-size: 20px;
    color: #fd7e14;
}

.weather_item .date-section{
    font-size: 35px;
    background-color: #17a2b8;
    border-radius: 7px;
    padding: 0 15px;
    color: #fff;
    text-align: center;
}

.weather_item.start_day{
    background: #9dc8f136;
    border-radius: 5px;
}

.weather_item:first-of-type .temp {
    font-size: 35px;
    color: #308ce4;
}

.today, .another_days{
    display: inline-block;
    padding-inline-start: 0 !important;
    margin: 0;
}

.another_days{
    min-height: 87px;
}

.today li, .another_days li{
    list-style-type: none;
    text-transform: uppercase !important;
}

.today li:not(:first-of-type){
    display: inline-block;
    width: 100px !important;
    text-transform: lowercase !important;
    font-size: 12px;
    /* overflow: hidden; */
}

.today li:not(:first-of-type) div.weather_icon{
    width: 45% !important;
    overflow: hidden;
    margin: auto;
}

.another_days li:not(:first-of-type){
    display: inline-block;
    width: 31px;
    overflow: hidden;
    transition: .5s;
}

.today li:not(:first-of-type) .temp{
    display: none;
}

.today li:not(:first-of-type) p{
    position: relative;
    bottom: 20px;
    text-align: center;
}

.today li:not(:first-of-type):not(:last-of-type){
    margin-right: 20px;
}
.another_days li:not(:first-of-type):not(:last-of-type){
    margin-right: 5px;
}

.today li:not(:first-of-type) img,
.another_days li:not(:first-of-type) img{
    width: 100%;
    height: auto;
    object-fit: contain;
}

.badge-warning{
    color: #fff;
}

.nav-item {
    cursor: pointer !important;
}

.nav-link{
    background-color: transparent !important;
    height: 100% !important;
    transition: .5s;
    color: #ffffff !important;
}

.nav-link:hover{
    box-shadow: 1px 7px 15px #aaaaaa;
}

table{
    color: #fff;
}

.highcharts-background{
    display: none !important;
    background-color: transparent !important;
}

#test {
    color: #fff;
}

/* .nav-link.active{
    background-color: #eaf3fc !important;
} */

@media (max-width: 767px) {
  
    .weathers {
        display: block;
    }

    .weather_item {
        font-size: 30px !important;
    }
   
    .highcharts-container{
        margin: 0 !important;
    }

    .weather_item, .weather_item .chart{
        padding-left: 0 !important;
        padding-right: 0 !important; 
        margin-top: 20px;
    }

    .weather_item .date-section {
        font-size: 25px;
    }

    .nav-item{
        width: 100% !important;
        font-size: 20px !important;
    }
    .tab_time{
        display: none;
    }

    .weather_item .temp{
        font-size: 30px !important;
    }
    
}