<div class="content">
  <div class="row">
    <div class="col-12">
      <ul class="nav nav-tabs nav-justified">
        <li *ngFor="let city of cities" class="nav-item"
                (click)="switchCity(city.id)"
                >
          <a class="nav-link" [ngClass]="{'active': current_city === city.id}">
            <div class="row">
                <div *ngIf="city?.forecast?.weathers" class="col-md-5">
                    <img [src]="city?.forecast?.weathers[0]?.image" [alt]="city.name">
                    <small class="badge badge-info" >{{city?.forecast?.weathers[0]?.main}}</small>
                </div>
                <div class="col-md-7">
                    <span>{{city.name}}</span> &nbsp;
                    <strong class="badge badge-warning">{{city?.forecast?.temp | number:'1.0-0'}} &#8451;</strong>
                    <br>
                    <small class="tab_time badge badge-pill">{{city?.forecast?.date_text | date: 'MMM d, y, EEE '}}</small>
                </div>
            </div>
          </a>
        </li>
      </ul>
    </div>
    <div class="col-12">
      <div class="weathers">
        <div class="weather_item">
          <div class="row">
              <div class="col-md-6">
                  <div *ngIf="today">
                      <p class="text-uppercase display-4">
                          {{today?.date_text | date: 'MMM d, y, EEE '}}
                      </p>
                      <p class="badge badge-pill">{{today?.date_text | date:'H:mm:ss'}}</p><br>
                      <ul class="today">
                          <li *ngFor="let w of today?.weathers">
                              <div class="weather_icon">
                                  <img [src]="w.image" [alt]="w.main"/>
                                  <strong class="temp text-warning">{{today?.temp | number:'1.0-0'}} &#8451;</strong>
                              </div>
                              <p>
                                  <small class="badge badge-info" >{{w.description}}</small>
                                  <br> <span class="badge badge-pill">for next 3h</span>
                                  <strong>{{today?.temp_min | number:'1.1-2'}}&#8451;</strong> - <strong>{{today?.temp_max | number:'1.1-2'}}&#8451;</strong>
                              </p>
                          </li>
                      </ul>
                      <hr/>
                      <div class="col-md-12 row">
                          <div class="col-6">
                              <span>Rain volume for last 3 hours:</span>
                          </div>
                          <div class="col-6">
                              <strong class="badge badge-danger">{{today?.rain ? (today?.rain | number:'1.1-2') : 0}} mm</strong>
                          </div>
                      </div>
                      <div class="col-md-12 row">
                          <div class="col-6">
                              <span>Snow volume for last 3 hours:</span>
                          </div>
                          <div class="col-6">
                              <strong class="badge badge-danger">{{today?.snow ? (today?.snow | number:'1.1-2') : 0}} mm</strong>
                          </div>
                      </div>
                      <div class="col-md-12 row">
                          <div class="col-6">
                              <span>Clouds:</span>
                          </div>
                          <div class="col-6">
                              <strong class="badge badge-warning">{{today?.clouds}} %</strong>
                          </div>
                      </div>
                      <div class="col-md-12 row">
                          <div class="col-6">
                              <span>Wind Speed:</span>
                          </div>
                          <div class="col-6">
                              <strong class="badge badge-warning">{{today?.wind_speed | number:'1.1-2'}} m/s</strong>
                          </div>
                      </div>
                      <div class="col-md-12 row">
                          <div class="col-6">
                              <span>Wind Deggry:</span>
                          </div>
                          <div class="col-6">
                              <strong class="badge badge-success">{{ degree }}</strong> <span class="badge badge-pill">({{today?.wind_deg}} deg.)</span>
                          </div>
                      </div>
                      <div class="col-md-12 row">
                          <div class="col-6">
                              <span>Humidity:</span>
                          </div>
                          <div class="col-6">
                              <strong class="badge badge-warning">{{today?.humidity}}%</strong>
                          </div>
                      </div>n
                  </div>
              </div>
              <div class="col-md-6 chart">
                  <div #charts id="test"></div>
              </div>
          </div>
          <hr/>
        </div>
        <div class="weather_item text-center" *ngFor="let weather of weathers" [ngClass]="{'start_day': weather?.id === today?.id}" (click)="switchDay(weather.id, weather?.date_text)">
          <p>
            <strong>{{weather?.date_text | date: 'EE'}}</strong>
          </p>
          <p class="badge badge-pill">
              {{weather?.date_text | date:'MMM d, H:mm:ss'}}
          </p><br>
          <ul class="another_days">
            <li *ngFor="let w of weather?.weathers">
                <img [src]="w.image" [alt]="w.main"/>
            </li>
          </ul>
          <p>
              <strong class="temp">
                <span class="badge badge-info">{{weather?.min_temp_day | number:'1.0-0'}} <sup>o</sup></span>
                &nbsp; 
                <span class="badge badge-warning">{{weather?.max_temp_day | number:'1.0-0'}} <sup>o</sup></span>
              </strong>
          </p>
        </div>
      </div>
    </div>
    <br>
    <div class="col-md-12">
        <hr/>
      <table class="table table-bordered table-responsive-sm table-responsive-xs">
        <thead class="thead-dark">
          <tr>
            <th>City</th>
            <th>Day</th>
            <th>Hour</th>
            <th>Temperature</th>
            <th>Rain nex 3h (mm)</th>
            <th>Snow nex 3h (mm)</th>
            <th>Clouds</th>
          </tr>
        </thead>
        <tbody>
            <tr *ngFor="let hourly of today?.daily_forecasts">
                <td>{{hourly?.city?.name}}</td>
                <td>{{hourly?.date_text | date: 'MMM d, y, EEE'}}</td>
                <td><span class="badge badge-pill">{{hourly?.date_text | date: 'H:mm:ss'}}</span></td>
                <td><span class="badge badge-info">{{hourly?.temp | number:'1.0-0'}} &#8451;</span></td>
                <td>{{hourly?.rain | number:'1.1-2'}}</td>
                <td>{{hourly?.snow | number:'1.1-2'}}</td>
                <td>{{hourly?.clouds}} %</td>
            </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
