<div class="justify-content-around">
  <div class="">
    <div class="card-header">
      Reset Password
    </div>
    <div class="card-body">
      <form [formGroup]="resetForm" (ngSubmit)="reset()">
        <div class="form-group row">
          <label for="email" class="col-md-4 col-form-label text-md-right">Email Address</label>
          <div class="col-md-6">
            <input class="form-control" formControlName="email" id="email" [ngClass]="{'is-invalid': submitted && (f.email?.errors || err_msg?.email)}">
            <small *ngIf="submitted && f.email?.errors?.required" class="invalid-feedback">
              Email address is required!
            </small>
            <small *ngIf="submitted && f.email?.errors?.email" class="invalid-feedback">
              Invalid email address!
            </small>
            <small *ngIf="submitted && err_msg?.email" class="invalid-feedback">
              {{err_msg?.email}}
            </small>
          </div>
        </div>
        <div class="form-group row">
          <label for="password" class="col-md-4 col-form-label text-md-right">Password</label>
          <div class="col-md-6">
            <input type="password" formControlName="password" class="form-control" id="password" [ngClass]="{'is-invalid': submitted && (f.password?.errors || err_msg?.password)}">
            <small *ngIf="submitted && f.password?.errors?.required" class="invalid-feedback">
              Password is required!
            </small>
            <small *ngIf="submitted && f.password?.errors?.minlength" class="invalid-feedback">
              Password must be min 8 character!
            </small>
            <small *ngIf="submitted && err_msg?.password" class="invalid-feedback">
              {{err_msg?.password}}
            </small>
          </div>
        </div>
        <div class="form-group row">
          <label for="confirm" class="col-md-4 col-form-label text-md-right">Confirm Password</label>
          <div class="col-md-6">
            <input type="password" formControlName="confirm" class="form-control" id="confirm" [ngClass]="{'is-invalid': submitted && (f.confirm?.errors || err_msg?.c_password)}">
            <small *ngIf="submitted && f.confirm?.errors?.required" class="invalid-feedback">
              Confirm Password is required!
            </small>
            <small *ngIf="submitted && f.confirm?.errors?.minlength" class="invalid-feedback">
              Confirm Password must be min 8 character!
            </small>
            <small *ngIf="submitted && f.confirm?.errors?.mustMatch" class="invalid-feedback">
              The password confirmation does not match.
            </small>
            <small *ngIf="submitted && err_msg?.c_password" class="invalid-feedback">
              {{err_msg?.c_password}}
            </small>
          </div>
        </div>
        <div class="form-group row mb-0">
          <div class="col-md-8 offset-md-4">
            <button class="btn btn-outline-info">Reset Password</button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
