@import "~bootstrap/dist/css/bootstrap.css";
body {
    background-image: url("../src/assets/mdestefano-sharp.jpg");
    background-repeat: repeat, repeat;
    color: #ffffff !important;
  }
#test {
    color: #ffffff !important;
}
#test .highcharts-background{
    fill: transparent !important;
}