<div class="justify-content-around">
  <div class="">
    <div class="card-header">
      Forgot Password
    </div>
    <div class="card-body">
      <p *ngIf="message?.status" class="alert alert-success">
        {{message?.message}}
      </p>
      <form [formGroup]="forgotForm" (ngSubmit)="send()">
        <div class="form-group row">
          <label for="email" class="col-md-4 col-form-label text-md-right">Email Address</label>
          <div class="col-md-6">
            <input class="form-control" formControlName="email" id="email" [ngClass]="{'is-invalid': submitted && (f.email?.errors || err_msg?.email)}">
            <small *ngIf="submitted && f.email?.errors?.required" class="invalid-feedback">
              Email address is required!
            </small>
            <small *ngIf="submitted && f.email?.errors?.email" class="invalid-feedback">
              Invalid email address!
            </small>
            <small *ngIf="submitted && err_msg?.email" class="invalid-feedback">
              {{err_msg?.email}}
            </small>
          </div>
        </div>
        <div class="form-group row mb-0">
          <div class="col-md-8 offset-md-4">
            <button class="btn btn-outline-info">Send Password Reset Link</button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
